



<body bgcolor="#ffffff">
</blockquote>

<TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#dedeef">
    <FONT SIZE=+1>&nbsp;<A NAME="window"></A>Top-Level Containers</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
    <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-T7.gif" WIDTH="86" HEIGHT="80" ALT="Applet image"><BR>
        <A HREF="applet.html" TARGET="_top">Applet</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-2message.png" WIDTH="268" HEIGHT="122" ALT="Dialog image"><BR>
        <A HREF="dialog.html" TARGET="_top">Dialog</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-FrameDemo.png" WIDTH="183" HEIGHT="134" ALT="Frame image"><BR>
        <A HREF="frame.html" TARGET="_top">Frame</A></TD> 
      </TR>
    </TABLE></TD>
  </TR>
</TABLE></H3>


<P><TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0"
HEIGHT="59">
  <TR>
    <TD WIDTH="100%" HEIGHT="28" BGCOLOR="#dedeef">
<FONT SIZE="+1"><A NAME="generalcontainer"></A>General-Purpose Containers</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%" HEIGHT="22">
    <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-panel.gif" WIDTH="203" HEIGHT="136" ALT="Panel image"><BR>
        <A HREF="panel.html" TARGET="_top">Panel</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-scroll2.png" WIDTH="223" HEIGHT="113" ALT="Scroll pane image"><BR>
        <A HREF="scrollpane.html" TARGET="_top">Scroll pane</A></TD> 
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD HEIGHT="5"></TD>
        <TD></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-splitplane.gif" WIDTH="287" HEIGHT="132" ALT="Split pane image"><BR>
        <A HREF="splitpane.html" TARGET="_top">Split pane</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-tabbed.png" WIDTH="232" HEIGHT="46" ALT="Tabbed pane image"><BR>
        <A HREF="tabbedpane.html" TARGET="_top">Tabbed pane</A></TD> 
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD></TD>
        <TD></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/cg-toolbar.gif" WIDTH="127" HEIGHT="32" ALT="JToolBar image"><BR>
        <A HREF="toolbar.html" TARGET="_top">Tool bar</A></TD> 
        <TD WIDTH="50%">
        &nbsp;</TD> 
      </TR>
    </TABLE></TD>
  </TR>
</TABLE></P>

<P><TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#dedeef">
<FONT SIZE="+1"><A NAME="specialcontainer"></A>Special-Purpose Containers</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
    <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-InternalFrameDemo-small.png" WIDTH="258" HEIGHT="166" ALT="Internal frame image"><BR>
        <A HREF="internalframe.html" TARGET="_top">Internal frame</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-LayeredPaneDemo-small.png" WIDTH="308" HEIGHT="203" ALT="Layered pane image"><BR>
        <A HREF="layeredpane.html" TARGET="_top">Layered pane</A></TD> 
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">

        <TD VALIGN="BASELINE"></TD>
        <TD VALIGN="BASELINE"></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD COLSPAN="2" VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/smrootpane.gif" WIDTH="350" HEIGHT="123" ALT="Root pane image"><BR>
        <A HREF="rootpane.html" TARGET="_top">Root pane</A></TD>
         
      </TR>
    </TABLE></TD>
  </TR>
</TABLE></P>

<P><TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#dedeef">
    <FONT SIZE="+1"><A NAME="basic"></A>Basic Controls</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
    &nbsp;<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
       
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/cg-buttons.gif" WIDTH="131" HEIGHT="113" ALT="JButton image"><BR>
        <A HREF="button.html" TARGET="_top">Buttons</A></TD> 
        <TD VALIGN="BASELINE" WIDTH="33%">
<IMG SRC="../../figures/uiswing/components/c-combobox.png" WIDTH="177" HEIGHT="117" ALT="Combo box image"><BR>
        <A HREF="combobox.html" TARGET="_top">Combo box</A></TD> 
        <TD VALIGN="BASELINE" WIDTH="34%">
<IMG SRC="../../figures/uiswing/components/cg-list.png" WIDTH="102" HEIGHT="84" ALT="JList image"><BR>
        <A HREF="list.html" TARGET="_top">List</A></TD> 
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE"></TD>
        <TD VALIGN="BASELINE"></TD>
        <TD VALIGN="BASELINE"></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-menu.png" WIDTH="227" HEIGHT="222" ALT="Menu image"><BR>
        <A HREF="menu.html" TARGET="_top">Menu</A></TD> 
        <TD COLSPAN="2" VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-SliderDemo.gif" WIDTH="240" HEIGHT="70" ALT="Slider image"><BR>
        <A HREF="slider.html" TARGET="_top">Slider</A></TD>
         
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
         </TD>
        <TD VALIGN="BASELINE"></TD>
        <TD VALIGN="BASELINE"></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-windows-spinner.png" WIDTH="112" HEIGHT="24" ALT="Spinner image"><BR>
        </FONT><A HREF="spinner.html" TARGET="_top">Spinner</A></TD> 
        <TD COLSPAN="2" VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-TextField.gif" WIDTH="159" HEIGHT="23" ALT="Text field image"><BR>
        <A HREF="textfield.html" TARGET="_top">Text field</A> or
        <A HREF="formattedtextfield.html" TARGET="_top">Formatted&nbsp;text&nbsp;field</A></TD>
      </TR>
    </TABLE></TD>
  </TR>
</TABLE></P>

<P><TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#dedeef">
    <FONT SIZE="+1"><A NAME="display"></A>Uneditable Information Displays</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
    <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-LabelDemo.png" WIDTH="179" HEIGHT="160" ALT="Label image"><BR>
        <A HREF="label.html" TARGET="_top">Label</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-ProgressBarDemo.gif" WIDTH="156" HEIGHT="27" ALT="Progress bar image"><BR>
        <A HREF="progress.html" TARGET="_top">Progress bar</A></TD> 
        <TD ALIGN="CENTER" VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-tooltip.gif" WIDTH="173" HEIGHT="143" ALT="Tool tip image"><BR>
        <A HREF="tooltip.html" TARGET="_top">Tool tip</A></TD> 
      </TR>
    </TABLE></TD>
  </TR>
</TABLE></P>

<P><TABLE BORDER="1" CELLSPACING="2" CELLPADDING="0">
  <TR>
    <TD WIDTH="100%" BGCOLOR="#dedeef">
    <FONT SIZE="+1"><A NAME="complex"></A>Interactive Displays of Highly
    Formatted Information</FONT>
</TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
    &nbsp;<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="5">
       
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/smcolorchooser.png" WIDTH="202" HEIGHT="192" ALT="Color Chooser Image"><BR>
        <A HREF="colorchooser.html" TARGET="_top">Color chooser</A></TD> 
        <TD COLSPAN="2" VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/smfilechooser.png" WIDTH="357" HEIGHT="252" ALT="File Chooser Image"><BR>
        <A HREF="filechooser.html" TARGET="_top">File chooser</A></TD>
         
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD>
         </TD>
        <TD COLSPAN="2"></TD>
      </TR>
      <TR ALIGN="CENTER" VALIGN="BOTTOM">
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-table.gif" WIDTH="243" HEIGHT="94" ALT="Table Image"><BR>
        <A HREF="table.html" TARGET="_top">Table</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-fonttest.gif" WIDTH="108" HEIGHT="141" ALT="Text Image"><BR>
        <A HREF="text.html" TARGET="_top">Text</A></TD> 
        <TD VALIGN="BASELINE">
<IMG SRC="../../figures/uiswing/components/c-tree.gif" WIDTH="127" HEIGHT="137" ALT="Tree Image"><BR>
        <A HREF="tree.html" TARGET="_top">Tree</A></TD> 
      </TR>
    </TABLE></TD>
  </TR>
</TABLE>

<p>
</body>

