<body bgcolor="#ffffff">

<strong>
<a target="pics" href="components_pics.html#window">
Top-Level Containers</a></strong>
<br>
The components at the top of any Swing containment hierarchy.
<p>

<strong>
<a target="pics" href="components_pics.html#generalcontainer">
General-Purpose Containers</a></strong>
<br>
Intermediate containers that can be used under many different circumstances.

<p>

<strong>
<a target="pics" href="components_pics.html#specialcontainer">
Special-Purpose Containers</a></strong>
<br>
Intermediate containers that play specific roles in the UI.

<p>

<strong>
<a target="pics" href="components_pics.html#basic">
Basic Controls</a></strong>
<br>
Atomic components
that exist primarily to get input from the user;
they generally also show simple state.

<p>

<strong>
<a target="pics" href="components_pics.html#display">
Uneditable Information Displays</a></strong>
<br>
Atomic components that exist solely to give the user information. 
<p>

<strong>
<a target="pics" href="components_pics.html#complex">
Interactive Displays of Highly Formatted Information</a></strong>
<br>
Atomic components that display highly formatted information that
(if you choose)
can be modified by the user. 

