



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
    <head>
        <title>How to Use Icons (The Java&trade; Tutorials &gt; 
            Creating a GUI with JFC/Swing &gt; Using Swing Components)
</title>
<style type="text/css">
    .FigureCaption   { 
        margin-left: 1in; 
        margin-right: 1in; 
        font-family: sans-serif; 
        font-size: smaller; 
        text-align: justify;
    }
    #TopBar_bl {
        background: url(../../images/java_bar_bl.gif) 0 100% no-repeat;
        width: 100%;
        height: 60px;
    }
    #TopBar_br {
        background: url(../../images/java_bar_br.gif) 100% 100% no-repeat;
        width: 100%;
        height: 60px;
    }
    #TopBar_tl {
        background: url(../../images/java_bar_tl.gif) 0 0 no-repeat;
        width: 100%;
        height: 60px;
    }
    #TopBar_tr {
        background: url(../../images/java_bar_tr.gif) 100% 0 no-repeat;
        width: 100%;
        height: 60px;
    }
    #TopBar {
        background: #35556B url(../../images/java_bar.gif);
        margin: 10px 10px 0 10px;
        height:60px;
        min-width:700px;
        color: white;
        font-family: sans-serif; 
        font-weight: bold;
    }
    @media print {
        #BreadCrumbs, #Download {
            display: none;
        }
    }
    #TopBar_right {
        line-height: 14px;
        float: right;
        padding-top: 2px;
        padding-right: 30px;
        text-align: center;
    }
    @media print {
        #TopBar_right {
            display: none;
        }
    }
    #TopBar_right a {
        font-size: 12px;
        margin: 3px;
        padding: 0;
    }
    #TopBar a:visited, #TopBar a:link {
        color: white;
        text-decoration: none;
    }
    #TopBar a:hover, #TopBar a:active  {
        background-color: white;
        color: #35556B;
    }
    #BreadCrumbs {
        padding: 4px 5px 0.5em 0;
        font-family: sans-serif; 
        float: right;
    }
    #BreadCrumbs a {
        color: blue;
    }
    #BreadCrumbs a:visited, #BreadCrumbs a:link {
        text-decoration: none;
    }
    #BreadCrumbs a:hover, #BreadCrumbs a:active {
        text-decoration: underline;
    }
    #PageTitle {
        margin: 0 5px 0.5em 0;
        color: #E76F00;
        font-family: sans-serif; 
        font-weight: bold;
        font-size: 20px;
    }
    .LeftBar_shown {
        width: 13em;
        float: left;
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 2em;
    }
    @media print {
        .LeftBar_shown {
            display: none;
        }
    }
    .LeftBar_hidden {
        display: none;
    }
    #Footer {
        padding-top: 10px;
        padding-left: 10px;
        margin-right: 10px;
    }
    .NavBit  {
        padding: 4px 5px 0.5em 0;
        font-family: sans-serif; 
    }
    @media print {
        .NavBit {
            display: none;
        }
    }
    #TagNotes {
        text-align: right;
        font-size: smaller;
        font-family: sans-serif; 
    }
    @media print {
        #TagNotes a:visited, #TagNotes a:link {
            color: #35556B;
            text-decoration: none;
        }
    }
    #Contents a, .NavBit a, #TagNotes a {
        color: blue
    }
    #TagNotes a:visited, #TagNotes a:link,
    #Contents a:visited, #Contents a:link,
    .NavBit a:visited, .NavBit a:link {
        text-decoration: none;
    }
    #TagNotes a:hover, #TagNotes a:active,   
    #Contents a:hover, #Contents a:active,   
    .NavBit a:hover, .NavBit a:active {  
        text-decoration: underline;
    }
    #Contents {
        float: left;
        font-family: sans-serif; 
    }
    @media print {
        #Contents {
            display: none;
        }
    }
    @media screen {
        div.PrintHeaders {
            display: none;
        }
    }
    .linkLESSON, .nolinkLESSON {
        margin-left: 0.5em;
        text-indent: -0.5em
    }
    .linkAHEAD, .nolinkAHEAD, .linkQUESTIONS, .nolinkQUESTIONS   {
        margin-left: 1.5em; 
        text-indent: -0.5em
    }
    .linkBHEAD, .nolinkBHEAD   {
        margin-left: 2.5em;
        text-indent: -0.5em
    }
    .linkCHEAD, .nolinkCHEAD   {
        margin-left: 3.5em;
        text-indent: -0.5em
    }
    .nolinkLESSON, .nolinkAHEAD, .nolinkBHEAD, .nolinkCHEAD,
    .nolinkQUESTIONS {
        font-weight: bold;
        color: #E76F00;
    }
    .MainFlow_indented {
        margin-right: 10px;
        margin-left: 15em;
        margin-bottom: 2em;

    }
    .MainFlow_wide {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 2em;

    }
    @media print {
        .MainFlow_indented, .MainFlow_wide {
            padding-top: 0;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 0;
        }
    }
    h3, h4, h5 {
        color: #E76F00;
        font-family: sans-serif;
    }
    #ToggleLeft {
        display: none;
    }

    /t

</style>
<script type="text/javascript">
    function leftBar() {
        var nameq = 'tutorial_showLeftBar='
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookieString = cookies[i];
            while (cookieString.charAt(0) == ' ') {
                cookieString = cookieString.substring(1, cookieString.length);
            }
            if (cookieString.indexOf(nameq) == 0) {
                cookieValue =  cookieString.substring(nameq.length,
                        cookieString.length);
                return cookieValue == 'yes';
            }
        }
        return true;
    }

    function showLeft(b) {
        var contents = document.getElementById("LeftBar");
        var main = document.getElementById("MainFlow");
        var toggle = document.getElementById("ToggleLeft");
        if (b) {
            contents.className = "LeftBar_shown";
            main.className = "MainFlow_indented";
            toggle.innerHTML = "Hide the TOC";
            document.cookie = 'tutorial_showLeftBar=yes; path=/';
        } else {
            contents.className = "LeftBar_hidden";
            main.className = "MainFlow_wide";
            toggle.innerHTML = "Show the TOC";
            document.cookie = 'tutorial_showLeftBar=no; path=/';
        }
    }

    function toggleLeft() {
        showLeft(document.getElementById("LeftBar").className ==
                "LeftBar_hidden");
        document.getElementById("ToggleLeft").blur();
    }

    function load() {
        showLeft(leftBar());
        document.getElementById("ToggleLeft").style.display="inline";
    }
    
</script>

    </head>
<body onload="load()">
    <div id=TopBar> <div id=TopBar_tr> <div id=TopBar_tl> <div id=TopBar_br> <div id=TopBar_bl> 
                        <div id=TopBar_right> 
                            <a target="_blank"
                                href="http://java.sun.com/javase/6/download.jsp">Download
                                the JDK</a>
                            <br>
                            <a href="../../search.html" target="_blank">Search the
                                Tutorials</a>
                            <br>
                            <a href="javascript:toggleLeft()"
                                id="ToggleLeft">Hide the TOC</a>
                        </div>
                    </div> </div> </div> </div> </div>
    <div class=PrintHeaders>
        <b>Trail:</b> Creating a GUI with JFC/Swing
        <br><b>Lesson:</b> Using Swing Components
    </div>

    <div id=LeftBar class=LeftBar_shown>
        <div id=Contents>
            <div class="linkLESSON"><a href="index.html">Using Swing Components</a></div>
<div class="linkAHEAD"><a href="components.html">A Visual Index to the Swing Components</a></div>
<div class="linkAHEAD"><a href="html.html">Using HTML in Swing Components</a></div>
<div class="linkAHEAD"><a href="toplevel.html">Using Top-Level Containers</a></div>
<div class="linkAHEAD"><a href="model.html">Using Models</a></div>
<div class="linkAHEAD"><a href="jcomponent.html">The JComponent Class</a></div>
<div class="linkAHEAD"><a href="text.html">Using Text Components</a></div>
<div class="linkBHEAD"><a href="generaltext.html">Text Component Features</a></div>
<div class="linkBHEAD"><a href="textapi.html">The Text Component API</a></div>
<div class="linkAHEAD"><a href="componentlist.html">How to Use Various Components</a></div>
<div class="linkBHEAD"><a href="applet.html">How to Make Applets</a></div>
<div class="linkBHEAD"><a href="button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a></div>
<div class="linkBHEAD"><a href="colorchooser.html">How to Use Color Choosers</a></div>
<div class="linkBHEAD"><a href="combobox.html">How to Use Combo Boxes</a></div>
<div class="linkBHEAD"><a href="dialog.html">How to Make Dialogs</a></div>
<div class="linkBHEAD"><a href="editorpane.html">How to Use Editor Panes and Text Panes</a></div>
<div class="linkBHEAD"><a href="filechooser.html">How to Use File Choosers</a></div>
<div class="linkBHEAD"><a href="formattedtextfield.html">How to Use Formatted Text Fields</a></div>
<div class="linkBHEAD"><a href="frame.html">How to Make Frames (Main Windows)</a></div>
<div class="linkBHEAD"><a href="internalframe.html">How to Use Internal Frames</a></div>
<div class="linkBHEAD"><a href="label.html">How to Use Labels</a></div>
<div class="linkBHEAD"><a href="layeredpane.html">How to Use Layered Panes</a></div>
<div class="linkBHEAD"><a href="list.html">How to Use Lists</a></div>
<div class="linkBHEAD"><a href="menu.html">How to Use Menus</a></div>
<div class="linkBHEAD"><a href="panel.html">How to Use Panels</a></div>
<div class="linkBHEAD"><a href="passwordfield.html">How to Use Password Fields</a></div>
<div class="linkBHEAD"><a href="progress.html">How to Use Progress Bars</a></div>
<div class="linkBHEAD"><a href="rootpane.html">How to Use Root Panes</a></div>
<div class="linkBHEAD"><a href="scrollpane.html">How to Use Scroll Panes</a></div>
<div class="linkBHEAD"><a href="separator.html">How to Use Separators</a></div>
<div class="linkBHEAD"><a href="slider.html">How to Use Sliders</a></div>
<div class="linkBHEAD"><a href="spinner.html">How to Use Spinners</a></div>
<div class="linkBHEAD"><a href="splitpane.html">How to Use Split Panes</a></div>
<div class="linkBHEAD"><a href="tabbedpane.html">How to Use Tabbed Panes</a></div>
<div class="linkBHEAD"><a href="table.html">How to Use Tables</a></div>
<div class="linkBHEAD"><a href="textarea.html">How to Use Text Areas</a></div>
<div class="linkBHEAD"><a href="textfield.html">How to Use Text Fields</a></div>
<div class="linkBHEAD"><a href="toolbar.html">How to Use Tool Bars</a></div>
<div class="linkBHEAD"><a href="tooltip.html">How to Use Tool Tips</a></div>
<div class="linkBHEAD"><a href="tree.html">How to Use Trees</a></div>
<div class="nolinkAHEAD">How to Use Icons</div>
<div class="linkAHEAD"><a href="border.html">How to Use Borders</a></div>
<div class="linkAHEAD"><a href="problems.html">Solving Common Component Problems</a></div>
</div>
    </div>
    <div id=MainFlow class=MainFlow_indented>
            <span id=BreadCrumbs>
                <a href=../../index.html target=_top>Home Page</a>
                &gt;
                <a href=../index.html target=_top>Creating a GUI with JFC/Swing</a>
                &gt;
                <a href=index.html target=_top>Using Swing Components</a>
            </span>
            <div class=NavBit>
                <a target=_top href=tree.html>&laquo;&nbsp;Previous</a>&nbsp;&bull;&nbsp;<a target=_top href=../TOC.html>Trail</a>&nbsp;&bull;&nbsp;<a target=_top href=border.html>Next&nbsp;&raquo;</a>
            </div>
            <div id=PageTitle>How to Use Icons</div>
            <blockquote>

Many Swing components,
such as labels, buttons, and tabbed panes,
can be decorated with an <em>icon</em> &#151;
a fixed-sized picture.
An icon is an object that adheres to the 
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/Icon.html"><code>Icon</code></a> interface.
Swing provides a particularly useful implementation of
the <code>Icon</code> interface:
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html"><code>ImageIcon</code></a>, which paints an icon from a GIF, JPEG, or (as of 1.3)
PNG image.

<p>
Here's a snapshot of an application with three labels,
two decorated with an icon:

<p><center><IMG SRC="../../figures/uiswing/components/LabelDemoMetal.png" WIDTH="181" HEIGHT="160" ALIGN="BOTTOM" ALT="An example of using image icons to decorate labels."></center></p>
The program uses one image icon
to contain and paint the yellow splats.
One statement creates the image icon
and two more statements include the image icon
on each of the two labels:
<blockquote><pre>
ImageIcon icon = createImageIcon("images/middle.gif",
                                 "a pretty but meaningless splat");
label1 = new JLabel("Image and Text", icon, JLabel.CENTER);
...
label3 = new JLabel(icon);
</pre></blockquote>

The <code>createImageIcon</code> method (used in the
preceding snippet) is one we use in many of our code
samples. It finds the specified file and return an
<code>ImageIcon</code> for that file, or <code>null</code>
if that file couldn't be found.  Here is a typical
implementation:

<blockquote><pre>
/** Returns an ImageIcon, or null if the path was invalid. */
protected static ImageIcon createImageIcon(String path,
                                           String description) {
    java.net.URL imgURL = LabelDemo.class.getResource(path);
    if (imgURL != null) {
        return new ImageIcon(imgURL, description);
    } else {
        System.err.println("Couldn't find file: " + path);
        return null;
    }
}
</pre></blockquote>

If you copy <code>createImageIcon</code>,
be sure to change the name of the class used for the
<code>getResource</code> call; it should be
the name of the class that contains the <code>createAppletImageIcon</code>
method.  For example, you might change
<code>LabelDemo.class.getResource</code> to
<code><em>MyApp</em>.class.getResource</code>.

In the preceding snippet, the first argument to the
<code>ImageIcon</code> constructor is relative to
the location of the class <code>LabelDemo</code>, and
will be resolved to an absolute URL.  The
<code>description</code> argument is a string that allows
<a href=../misc/access.html>assistive technologies</a>
to help a visually impaired user understand what information
the icon conveys.

<p>
Generally, applications provide their own set of images used
as part of the application, as is the case with the
images used by many of our demos.  You should use
the <code>Class</code> <code>getResource</code>
method to obtain the path to the image.
This allows the application to
verify that the image is available and to provide sensible
error handling if it is not.  When the image is not part
of the application, <code>getResource</code> should not be used and
the <code>ImageIcon</code> constructor is used directly. For example:

<blockquote><pre>
ImageIcon icon = new ImageIcon("/home/sharonz/images/middle.gif",
                               "a pretty but meaningless splat");
</pre></blockquote>

<p>
When you specify a filename or URL to an <code>ImageIcon</code> constructor,
processing is blocked until after the image data is completely loaded
or the data location has proven to be invalid.
If the data location is invalid (but non-null), an
<code>ImageIcon</code> is still successfully created;
it just has no size and, therefore, paints nothing.
As we showed in the <code>createImageIcon</code> method,
it's wise to first verify that the URL points to an existing file
before passing it to the <code>ImageIcon</code> constructor.  
This allows graceful error handling when the file isn't present.
If you want more information while the image is loading,
you can register an observer
on an image icon by calling its <code>setImageObserver</code> method.

<p>
Under the covers,
each image icon uses an
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/java/awt/Image.html"><code>Image</code></a> object to hold the image data.

<p>
The rest of this section covers the following topics:
<ul>
<li><a href=#example>A More Complex Image Icon Example</a>
<li><a href=#getresource>Loading Images Using getResource</a>
<li><a href=#applet>Loading Images Into Applets</a>
<li><a href=#efficiency>Improving Perceived Performance When Loading Image Icons</a>
<li><a href=#custom>Creating a Custom Icon Implementation</a>
<li><a href=#api>The Image Icon API</a>
<li><a href=#eg>Examples that Use Icons</a>
</ul>

<a name=example>
</blockquote>
<h3>A More Complex Image Icon Example</h3>
<blockquote>
Here's an applet that uses eight image icons.
In the snapshot, you can see three of them:
one displays the photograph
and two decorate buttons
with small arrows.

<p><center><a href="IconDemoApplet.html" target="_blank"><IMG SRC="../../figures/uiswing/dnd/IconDemoApplet.gif" WIDTH="410" HEIGHT="441" ALIGN="BOTTOM" ALT="Click this figure to run the applet."></a><br><em>This is a picture of the applet's GUI.  To run the applet, click the picture.  The applet will appear in a new browser window.</em></center></p>
<p><h4 align=center><font color=red>
[PENDING: New screenshot forthcoming.]</font></h4>

<p>
<blockquote><hr><strong>Try this:</strong>&nbsp;
<ol>
<li> <a href="http://java.sun.com/docs/books/tutorialJWS/uiswing/misc/examples/IconDemoApplet.jnlp">Run IconDemoApplet</a> using
     <a href=http://java.sun.com/products/javawebstart>
     Java<sup><font size=-2>TM</font></sup> Web Start</a>.
     Or, to compile and run the example yourself,
     consult the
     <a href="examples/index.html#IconDemoApplet">example index</a>.

<li> Click the 
<strong>Previous Picture</strong>
and 
<strong>Next Picture</strong> 
     buttons
     to view the photographs.
<li> Hold the mouse over a photograph.
     A tool tip appears that indicates
     the filename of the current photograph
     and its width and height.
</ol>
<hr></blockquote>

<p>
IconDemoApplet demonstrates icons used in the following ways:
<ul>
<li>As a GUI element attached to a button
    (the left and right arrows).
<li>As an alternate version of the icon to be used
    when the button is disabled
    (dimmed left and right arrows).
<li>To display an image (the four photographs).
</ul>

<p>The code that follows creates the four arrow image icons and
attaches them to the two buttons.  You can find the applet's code in
<a class="TutorialLink" target="_top" href="examples/IconDemoApplet.java">IconDemoApplet.java</a>.

<blockquote><pre>
//Create the next and previous buttons.
ImageIcon nextIcon = createAppletImageIcon("images/right.gif",
                                           "a right arrow");
ImageIcon dimmedNextIcon = createAppletImageIcon("images/dimmedRight.gif",
                                                 "a dimmed right arrow");
ImageIcon previousIcon = createAppletImageIcon("images/left.gif",
                                               "a left arrow");
ImageIcon dimmedPreviousIcon = createAppletImageIcon("images/dimmedLeft.gif",
                                                     "a dimmed left arrow");

nextButton = new JButton("Next Picture", nextIcon);
nextButton.setDisabledIcon(dimmedNextIcon);
nextButton.setVerticalTextPosition(AbstractButton.CENTER);
nextButton.setHorizontalTextPosition(AbstractButton.LEFT);
...

previousButton = new JButton("Previous Picture", previousIcon);
previousButton.setDisabledIcon(dimmedPreviousIcon);
previousButton.setVerticalTextPosition(AbstractButton.CENTER);
previousButton.setHorizontalTextPosition(AbstractButton.RIGHT);
</pre></blockquote>

<p>The action handler for the buttons
initiates loading the photographs into the
image icon:

<blockquote><pre>
//User clicked either the next or the previous button.
public void actionPerformed(ActionEvent e) {
    //Show loading message.
    photographLabel.setIcon(null);
    photographLabel.setText("Loading image...");

    //Compute index of photograph to view.
    if (e.getActionCommand().equals("next")) {
        current += 1;
        if (!previousButton.isEnabled())
            previousButton.setEnabled(true);
        if (current == pictures.size() - 1)
            nextButton.setEnabled(false);
    } else {
        current -= 1;
        if (!nextButton.isEnabled())
            nextButton.setEnabled(true);
        if (current == 0)
            previousButton.setEnabled(false);
    }

    //Get the photo object.
    Photo pic = (Photo)pictures.elementAt(current);

    //Update the caption and number labels.
    captionLabel.setText(pic.caption);
    numberLabel.setText("Picture " + (current+1) +
                        " of " + pictures.size());

    //Update the photograph.
    ImageIcon icon = pic.getIcon();
    if (icon == null) {     //haven't viewed this photo before
        loadImage(imagedir + pic.filename, current);
    } else {
        updatePhotograph(current, pic);
    }
}
</pre></blockquote>

<p>The photographs are loaded in a separate thread by 
the <code>loadImage</code> method &#151; its code is
shown a little later in this section.

<p>The <code>Photo</code> class, an inner class in
<a class="TutorialLink" target="_top" href="examples/IconDemoApplet.java">IconDemoApplet.java</a>, is a simple class that manages an image icon and its properties.

<blockquote><pre>
public class Photo {
    public String filename;
    public String caption;
    public int width;
    public int height;
    public ImageIcon icon;

    public Photo(String filename, String caption, int w, int h) {
        this.filename = filename;
        if (caption == null)
            this.caption = filename;
        else
            this.caption = caption;
        width = w;
        height = h;
        icon = null;
    }

    public void setIcon(ImageIcon i) {
        icon = i;
    }

    public ImageIcon getIcon() {
        return icon;
    }
}
</pre></blockquote>

<p>The <a href=#applet>Loading Images Into Applets</a> section
discusses how images are loaded into this applet and shows
the <code>createAppletImageIcon</code> method &#151; a version
of <code>createImageIcon</code> customized for applets that are
deployed using Java Plug-in.


</blockquote>
<a name=getresource>
<h3>Loading Images Using getResource</h3>
</a>
<blockquote>

<p>
Most often, an image icon's data comes from an image file.

There are a number of valid ways that your application's
class and image files may be configured on your file server.
You might have your class files in a JAR file, or
your image files in a JAR file; they might be
in the same JAR file, or they might be in
different JAR files. The following figures illustrate a few of
the ways these files can be configured:

<h4 align=center><font color=red>[PENDING: New figures forthcoming. The
new figures will show more family-tree style lines.]</font></h4>

<p>
<table cellpadding=5>
<tr align=center>
<td width=228>
<IMG SRC="../../figures/uiswing/components/default.gif" WIDTH="178" HEIGHT="93" ALT="Diagram showing MyDemo.class and images/myImage.gif under dot (parent directory)"></td>
<td width=282>
<IMG SRC="../../figures/uiswing/components/defaultImageJar.gif" WIDTH="232" HEIGHT="84" ALT="Diagram showing MyDemo.class and image.jar under dot (parent directory)"></td>
</tr>

<tr valign=top>
<td>
<font size=-2>
Class file next to an image directory containing the image file,
in GIF format. 
</font>
</td>
<td>
<font size=-2>
Class file in same directory as JAR file. The JAR
file was created with all the images in an
<code>images</code> directory.
</font>
</td>
</tr>

<tr align=center>
<td width=300>
<IMG SRC="../../figures/uiswing/components/defaultTwoJars.gif" WIDTH="250" HEIGHT="84" ALT="Diagram showing MyDemo.jar and image.jar under (parent directory)"></td>
<td>
<IMG SRC="../../figures/uiswing/components/megaJar.gif" WIDTH="" HEIGHT="" ALT="Diagram showing MyDemo.class and images/myImage.gif in the same JAR file."></tr>

<tr valign=top>
<td>
<font size=-2>
Class file in one JAR file and the images in another JAR file.
</font>
</td>

<td>
<font size=-2>
Class and image files in same JAR file.
</font>
</td>
</tr>
</table>

<p>If you are writing a real-world application, it is likely
(and recommended) that you put your files into a package.
For more information on packages, see
<a class="TutorialLink" target="_top" href="../../java/package/packages.html">Creating and Using Packages</a> in the
<a class="TutorialLink" target="_top" href="../../java/">Learning the Java Language</a> trail. Here are some possible configurations using
a package named "omega":
<p>

<table cellpadding=5>
<tr align=center>
<td width=273>
<IMG SRC="../../figures/uiswing/components/omega.gif" WIDTH="223" HEIGHT="129" ALT="Diagram showing omega package with MyDemo.class and image/myImage.gif"></td>
<td width=372>
<IMG SRC="../../figures/uiswing/components/omegaImageJar.gif" WIDTH="322" HEIGHT="120" ALT="Diagram showing omega package with MyDemo.class and image.jar "></td>
</tr>

<tr valign=top>
<td>
<font size=-2>
Class file in directory named <code>omega</code>.
Image in <code>omega/images</code> directory.
</font>
</td>
<td>
<font size=-2>
Class file in <code>omega</code> directory.
Image in JAR file not inside of <code>omega</code>
directory, but created with <code>omega/images</code>
hierarchy.
</font>
</td>
</tr>

<tr align=center>
<td width=228>
<IMG SRC="../../figures/uiswing/components/megaOmegaJar.gif" WIDTH="178" HEIGHT="111" ALT="Diagram showing omega.jar which contains omega/MyDemo.class and omega/images/myImage.gif"></td>
</tr>

<tr valign=top>
<td>
<font size=-2>
One big JAR file with class files 
under <code>omega</code> directory
and image files under <code>omega/images</code>
directory.
</font>
</td>
</tr>
</table>

<p>All seven configurations shown are valid, and 
the same code reads the image:

<blockquote><pre>
java.net.URL imageURL = myDemo.class.getResource("images/myImage.gif");
...
if (imageURL != null) {
    ImageIcon icon = newImageIcon(imageURL);
}
</pre></blockquote>

<p>
The <code>getResource</code> method causes the class loader to
look through the directories and JAR files in the program's class path,
returning a URL as soon as it finds the desired file.
In our example the MyDemo program attempts to load the
<code>image/myImage.gif</code> file. The class loader looks
through the directories and JAR files in
the program's class path for <code>image/myImage.gif</code>.
If the class loader finds the file, it returns the URL
of the JAR file or directory that contained the file.
If another JAR file or directory in the class path contains
the <code>images/myImage.gif</code> file, the class loader returns the
first instance that contains the file.

<blockquote><hr><strong>Version note:</strong>&nbsp;In versions of Java Plug-in before 1.4,
<code>getResource</code> doesn't look in JAR files.
See <a href=#applet>Loading Images Into Applets</a> for details.
<hr></blockquote>

<p>
Here are three ways to specify the class path:

<ul>
<li>Using the <code>-cp</code> or <code>-classpath</code>
command-line argument.  For example, in the case where the
images are in a JAR file named <code>images.jar</code> and
the class file is in the current directory:

<blockquote><pre>
java -cp  .;image.jar  MyDemo  [Microsoft Windows]
java -cp ".;image.jar" MyDemo  [Unix-emulating shell on Microsoft
                                Windows &#151; you must quote the
                                specified path]
java -cp  .:image.jar  MyDemo  [Unix]
</pre></blockquote>

<p>If your image and class files are in
separate JAR files, your command line will look
something like:

<blockquote><pre>
java -cp .;MyDemo.jar;image.jar MyDemo  [Microsoft Windows]
</pre></blockquote>

<p>In the situation where all the files are in one JAR file,
you can use either of the following commands:

<blockquote><pre>
java -jar MyAppPlusImages.jar
java -cp .;MyAppPlusImages.jar MyApp  [Microsoft Windows]
</pre></blockquote>

<p>For more information, see the

<a class="TutorialLink" target="_top" href="../../deployment/jar/">JAR Files</a> trail.

<p>
<li>In the program's JNLP file (used by Java Web Start).
    For example, here is the JNLP file used by 
    <code>DragPictureDemo</code>:

<blockquote><pre>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;!-- JNLP File for DragPictureDemo --&gt;
&lt;jnlp
  spec="1.0+"
  codebase="http://java.sun.com/docs/books/tutorialJWS/src/uiswing/misc/examples"
  href="DragPictureDemo.jnlp"&gt;
  &lt;information&gt;
    &lt;title&gt;DragPictureDemo&lt;/title&gt;
    &lt;vendor&gt;The Java(tm) Tutorial: Sun Microsystems, Inc.&lt;/vendor&gt;
    &lt;homepage href="http://java.sun.com/docs/books/tutorial/uiswing/misc/examples/index.html#DragPictureDemo"/&gt;
    &lt;description&gt;DragPictureDemo&lt;/description&gt;
    &lt;description kind="short"&gt;A demo showing how to install
        data transfer on a custom component.&lt;/description&gt;
    &lt;offline-allowed/&gt;
  &lt;/information&gt;
  &lt;resources&gt;
    &lt;j2se version="1.4"/&gt;
    <b>&lt;jar href="allClasses.jar"/&gt;</b>
    <b>&lt;jar href="images.jar"/&gt;</b>
  &lt;/resources&gt;
  &lt;application-desc main-class="DragPictureDemo"/&gt;
&lt;/jnlp&gt;
</pre></blockquote>

    <p>In this example, the class files and the images files
     are in separate JAR files. The JAR files are specified
     using the XML <code>jar</code> tag. 
    <p>
<li>Setting the <code>CLASSPATH</code> environment variable. 
    This last approach is <em>not recommended</em>.
    If <code>CLASSPATH</code> is not set, the current directory (".")
    followed by the location of the system classes shipped
    with the JRE are used by default.
</ul>

<p>
Most of our examples put the images in an <code>images</code>
directory under the directory that contains the
examples' class files.  When we create
JAR files for the examples, we keep the same relative locations,
although often we put the class files in a different JAR file
than the image JAR file.  No matter where the class and image 
files are in the file system &#151; in one JAR file, or in multiple
JAR files, in a named package, or in the default package &#151;
the same code finds the image files using
<code>getResource</code>.

For more information, see
<a class="OutsideLink" target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/guide/resources/resources.html">Accessing Resources in a Location-Independent Manner</a> and the
<a class="OutsideLink" target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/guide/jws/developersguide/development.html">Application Development Considerations</a>.

</blockquote>
<a name=applet>
<h3>Loading Images Into Applets</h3>
</a>
<blockquote>

<p>
Applets generally load image data
from the computer that served up the applet.
There are two reasons for this. 
First, untrusted applets can't read from the file system
on which they're running.
Second, it just makes sense to put an applet's
class and data files together on the server.

<p>
The <code>IconDemoApplet</code> program initializes
each of its image icons from GIF files
whose locations are specified with URLs.
Because <code>IconDemoApplet</code> is designed to be
an untrusted applet,
we must place the image files under the applet's code base
(the server directory containing the applet's class files).
The following figure shows the locations of
files for <code>IconDemoApplet</code>.

<p><center><IMG SRC="../../figures/uiswing/components/setup.gif" WIDTH="413" HEIGHT="173" ALIGN="BOTTOM" ALT=""></center></p>
<h4><font color=red>[PENDING: New figure forthcoming.  The new
figure will have box removed from around the text "code base" and "image
directory (specified by <code>IMAGEDIR</code> parameter)". 
The following text replaces the previous comment:
"The image files or image directory can be deleted if the applet
loads image files from a JAR file."]</font></h4>

<p>
The <code>APPLET</code> tag is where you
specify information about the images used in the applet. 
For example, here's part of the tag for
<a href=IconDemoApplet.atag>IconDemoApplet</a>:

<blockquote><pre>
&lt;applet code="IconDemoApplet.class"
        codebase="examples/"
        archive="iconAppletClasses.jar,
                 iconStartupImages.jar,
                 iconAppletImages.jar"
        width="400" height="360"&gt;
    &lt;param NAME="IMAGEDIR" VALUE="images"&gt;

    &lt;param NAME="IMAGE0" VALUE="stickerface.gif"&gt;
    &lt;param NAME="CAPTION0" VALUE="Sticker Face"&gt;
    &lt;param NAME="WIDTH0" VALUE="230"&gt;
    &lt;param NAME="HEIGHT0" VALUE="238"&gt;
    ...
&lt;/applet&gt;
</pre></blockquote>

<p>The <code>IMAGEDIR</code> parameter indicates
that the image files should be in a directory named
<code>images</code> relative to the applet's code base.
Applets generally use a URL that is constructed
relative to the applet's code base.

<p>As you can see from the <code>archive</code>
attribute of the preceding <code>APPLET</code> tag,
we have deployed IconDemoApplet using
three JAR files. The classes are in one JAR file,
the images required for starting up the UI (the
arrow images) are in another JAR file, and the
rest of the images are in a third JAR file. Separating
the UI images from the other images means a quicker
start-up time.

<p>For more information on specifying JAR files
with the <code>APPLET</code> tag, see 

<a class="TutorialLink" target="_top" href="../../deployment/applet/html.html">Using the APPLET Tag	</a> and the
<a class="OutsideLink" target="_blank" href="http://java.sun.com/j2se/1.4.2/docs/guide/jar/jarGuide.html">JAR File Overview</a>.

<p>
When using Java Web Start to deploy an applet,
you can use the same approach for loading
resources as you do for applications &#151; 
the <code>getResource</code> method.
However, for applets deployed using Java Plug-in,
<code>getResourceAsStream</code> is more efficient
for loading images.
<blockquote><hr><strong>Version note:</strong>&nbsp;Prior to release 1.4, when called from an applet
deployed using Java Plug-in, <code>getResource</code> did not look
in JAR files for resources, it looked only in the code base.
In this situation, you must either put the images in the
code base, or you must use <code>getResourceAsStream</code>.
<hr></blockquote>

Here is the code from IconDemoApplet
that reads the images using <code>getResourceAsStream</code>:

<blockquote><pre>
public class IconDemoApplet extends JApplet ... {
    protected String leftButtonFilename = "images/left.gif";
    ...
    public void init() {
        ...
        ImageIcon leftButtonIcon = createAppletImageIcon(leftButtonFilename,
                                                   "an arrow pointing left");
        ...
    }
    ...
    //Returns an ImageIcon, or null if the path was invalid.
    //When running an applet using Java Plug-in,
    //getResourceAsStream is more efficient than getResource.
    protected static ImageIcon createAppletImageIcon(String path,
                                              String description) {
        int MAX_IMAGE_SIZE = 75000; //Change this to the size of
                                    //your biggest image, in bytes.
        int count = 0;
        BufferedInputStream imgStream = new BufferedInputStream(
           IconDemoApplet.class.getResourceAsStream(path));
        if (imgStream != null) {
            byte buf[] = new byte[MAX_IMAGE_SIZE];
            try {
                count = imgStream.read(buf);
            } catch (IOException ieo) {
                System.err.println("Couldn't read stream from file: " + path);
            }

            try {
                imgStream.close();
            } catch (IOException ieo) {
                 System.err.println("Can't close file " + path);
            }

            if (count <= 0) {
                System.err.println("Empty file: " + path);
                return null;
            }
            return new ImageIcon(Toolkit.getDefaultToolkit().createImage(buf),
                                 description);
        } else {
            System.err.println("Couldn't find file: " + path);
            return null;
        }
    }
    ...
}
</pre></blockquote>

You might want to copy the <code>createAppletImageIcon</code> method
for use in your applet. Be sure to change the
<code>IconDemoApplet</code> string in the call to
<code>getResourceAsStream</code> to the name of your applet.

</blockquote>
<a name=efficiency>
<h3>Improving Perceived Performance When Loading Image Icons</h3>
</a>
<blockquote>
Because the photograph images are large,
<code>IconDemoApplet</code> uses several techniques to improve the
performance of the program as perceived by the user.

<ul>
<li> <strong>Providing dimmed icons</strong>
     &#151; the applet provides dimmed versions of the arrows
     for the buttons:

<blockquote><pre>
imagedir = getParameter("IMAGEDIR");
if (imagedir != null)
    imagedir = imagedir + "/";
...
ImageIcon dimmedNextIcon = createAppletImageIcon(
    "images/dimmedRight.gif", "a dimmed right arrow");
ImageIcon dimmedPreviousIcon = createAppletImageIcon(
    "images/dimmedLeft.gif", "a dimmed left arrow");
...
nextButton.setDisabledIcon(dimmedNextIcon);
...
previousButton.setDisabledIcon(dimmedPreviousIcon);
</pre></blockquote>

Without this code,
the dimmed versions of the arrows would be computed,
which causes a slight delay the first time each button is dimmed.
Basically, this technique trades
a noticeable delay when the user clicks the buttons for
a smaller, less noticeable delay in the <code>init</code> method.
An alternative would be to load the dimmed icons in a background
thread after the GUI has been created and shown.
<p>
This applet uses four separate image files
just to display arrows on two buttons.
The performance impact of these little images can add up,
especially if the browser in which the applet is running
uses a separate HTTP connection to load each one.
A faster alternative is to implement a
custom <code>Icon</code> that paints the arrows.
See <a href=#custom>Creating a Custom Icon Implementation</a>
for an example.
<p>
        
<li> <strong>Lazy image loading</strong>
     &#151; the applet's initialization code
loads only the first photograph.
Each other photograph gets loaded when the user
first requests to see it.
By loading images if and when needed,
the applet avoids a long initialization.
The downside is that the user has to wait
to see each photograph.
We try to make this wait less noticeable
by providing feedback about the image loading
and allowing the user to use the GUI
while the image is loading.
<p>
Not all programs can benefit from lazy loading.
For example, the

<a class="SourceLink" target="_blank" href="../components/examples/TumbleItem.java"><code>TumbleItem.java</code></a> applet
performs an animation, and all of the images
in the animation are needed up-front.
That applet's initialization code
causes the images to be loaded in a background thread,
so that the applet can present a GUI 
(a "Loading Images..." label)
before the images have loaded.

<p>

<li> <strong>Background image loading</strong>
&#151; the applet uses a
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/SwingWorker.html">javax.swing.SwingWorker</a>
object
to load each photograph image in a background thread.
Because the image is loaded in a separate thread, 
the applet does not freeze up while the image is loading.
<p>
Here's the code to load each image:

<blockquote><pre>
private void loadImage(final String imagePath, final int index) {
    (new SwingWorker&lt;ImageIcon, Object&gt;() {

        public ImageIcon doInBackground() {
            return createAppletImageIcon(imagePath, 
                "photo #" + index);
        }

        //Runs on the event-dispatching thread.
        public void done() { 
            Photo photo = photos.elementAt(index);
            try {
                photo.icon = get();
            } catch (InterruptedException ignore) {}
            catch (java.util.concurrent.ExecutionException e) {
                String why = null;
                Throwable cause = e.getCause();
                if (cause != null) {
                    why = cause.getMessage();
                } else {
                    why = e.getMessage();
                }
                System.err.println("Error retrieving file: " + why);
            }

            if (index == current) {
                updatePhotograph(photo);
            }
        }
    }).execute();
}
</pre></blockquote>
The <code>doInBackground</code> method,
which creates the image icon for the photograph,
is invoked by the background thread.
After the image icon is fully loaded,
the <code>done</code> method is invoked
on the event-dispatching thread.
This updates the GUI to display the photograph.
<p>

<li> <strong>Status updates</strong>
&#151;  while the image is loading in
the background,
the applet displays a status message:
<blockquote><pre>
photographLabel.setIcon(null);
photographLabel.setText("Loading image...");
</pre></blockquote>
This lets the user know that the program is doing something.
After the image is loaded,
the applet displays the photograph in the viewing area.
<p>

<li> <strong>Caching</strong>
&#151;  after each photograph is viewed for the first
time, the applet caches the image icon for later use. 
Thus if the user revisits a photograph,
the program can use the same image icon and
display the photograph quickly.
<p>
If you write a program without caching image icons,
it may appear that some implicit image caching
is going on within the Java platform.
However, this is a side effect of the implementation
and is not guaranteed.
If your program uses one image in many places in its GUI,
you can create the image icon once
and use the same instance multiple times.

</ul>

As with all performance-related issues,
these techniques are applicable in some situations and not others.
These are not general recommendations for all programs,
but some techniques you can try to improve the user's experience.
Furthermore,
the techniques described here
are designed to improve
the program's perceived performance,
but don't necessarily impact its real performance.
</blockquote>

<h3>
<a name=custom>Creating a Custom Icon Implementation</a>
</h3>
<blockquote>

If an image differs depending on the state of the component it's within,
consider implementing a custom <code>Icon</code> class to paint the image.
The really nice thing about a custom icon
is that you can easily change the icon's appearance
to reflect its host component's state.

<p>

Look-and-feel implementations often 
use custom icons.
For example, the Java look and feel uses a single
<code>MetalCheckBoxIcon</code> object
to paint all of the check boxes in the GUI.
The <code>MetalCheckBoxIcon</code>
paints itself differently
depending on whether its host component
is enabled, pressed, or selected.

<p>

In this section, we'll
convert a program called <code>ButtonDemo</code>
so that it uses a custom icon to paint 
these two arrows:

<blockquote>
<IMG SRC="../../figures/uiswing/components/left.gif" WIDTH="20" HEIGHT="22" ALT="A simple left arrow">
<IMG SRC="../../figures/uiswing/components/right.gif" WIDTH="20" HEIGHT="22" ALT="A simple right arrow"></blockquote>

You can see a picture of <code>ButtonDemo</code> in
<a class="TutorialLink" target="_top" href="../components/button.html#abstractbutton">How to Use the Common Button API</a>.
Its source code is in

<a class="SourceLink" target="_blank" href="../components/examples/ButtonDemo.java"><code>ButtonDemo.java</code></a>.
<code>ButtonDemo</code> uses the following code
to load the arrows from GIF files
and put the arrows into buttons:

<blockquote><pre>
ImageIcon leftButtonIcon = createImageIcon("images/right.gif",
                                           "an arrow pointing right");

...
ImageIcon rightButtonIcon = createImageIcon("images/left.gif",
                                            "an arrow pointing left");

b1 = new JButton("Disable middle button", leftButtonIcon);
...
b3 = new JButton("Enable middle button", rightButtonIcon);
</pre></blockquote>

Here is the new code,
which uses a custom icon class named <code>ArrowIcon</code>.
Only the bold lines have changed.
You can
<a href="http://java.sun.com/docs/books/tutorialJWS/uiswing/misc/examples/CustomIconDemo.jnlp">run CustomIconDemo</a> using
<a href=http://java.sun.com/products/javawebstart>Java Web Start</a>.
Or, to compile and run the example yourself,
consult the
<a href="examples/index.html#CustomIconDemo">example index</a>.

<blockquote><pre>
<b>Icon leftButtonIcon = new ArrowIcon(SwingConstants.TRAILING);</b>
...
<b>Icon rightButtonIcon = new ArrowIcon(SwingConstants.LEADING);</b>

b1 = new JButton("Disable middle button", leftButtonIcon);
...
b3 = new JButton("Enable middle button", rightButtonIcon);
</pre></blockquote>

You can find the implementation of the custom icon class in

<a class="SourceLink" target="_blank" href="examples/ArrowIcon.java"><code>ArrowIcon.java</code></a>.
Here are the interesting parts of its code:

<blockquote><pre>
class ArrowIcon implements Icon, SwingConstants {
    public ArrowIcon(int direction) {
        if (direction == LEADING) {
            xPoints[0] = width;
            yPoints[0] = -1;
            xPoints[1] = width;
            yPoints[1] = height;
            xPoints[2] = 0;
            yPoints[2] = height/2;
            xPoints[3] = 0;
            yPoints[3] = height/2 - 1;
        } else /* direction == TRAILING */ {
            xPoints[0] = 0;
            yPoints[0] = -1;
            xPoints[1] = 0;
            yPoints[1] = height;
            xPoints[2] = width;
            yPoints[2] = height/2;
            xPoints[3] = width;
            yPoints[3] = height/2 - 1;
        }
    }
    ...
    public void paintIcon(Component c, Graphics g,
                          int x, int y) {
        if (c.isEnabled()) {
            g.setColor(c.setForeground());
        } else {
            g.setColor(Color.gray);
        }

        g.translate(x, y);
        g.fillPolygon(xPoints, yPoints, xPoints.length);
        g.translate(-x, -y);  //Restore Graphics object
    }
}
</pre></blockquote>

Note that the icon sets the current color.
If you don't do this, 
then the icon's painting might not be visible.
For more information about painting, see
<a class="TutorialLink" target="_top" href="../painting/index.html">Performing Custom Painting</a>.

<p>

Using a custom icon to paint the arrows has a few implications:

<ul>
<li> Because the icon's appearance is determined dynamically,
     the icon painting code can use any information &#151;
     component and application state, for example &#151;
     to determine what to paint.

<li> Because we specified a non-<code>ImageIcon</code> icon for a button,
     the button doesn't bother to calculate 
     the dimmed (disabled) version of the icon.
     Instead, the button lets the icon paint its disabled self.
     This can reduce computation time and
     save space that would otherwise be used to hold the dimmed image.

<li> Depending on the platform and the type of image, we might
     get a performance boost with custom icons,
     since painting simple shapes can sometimes be faster than
     copying images.

<li> Instead of loading all the GIF files for the arrows
     (left and right, and perhaps dimmed left and dimmed right),
     we load a single class file
     (<code>ArrowIcon</code>).
     The performance implications of this
     depend on factors such as the platform,
     the size of the files,
     and the overhead for loading each type of file.
     
</ul>


</blockquote>
<h3>
<a name=api>The Image Icon API</a>
</h3>
<blockquote>
The following tables list the commonly used
<code>ImageIcon</code> constructors and methods.
Note that <code>ImageIcon</code> is not a descendent
of <code>JComponent</code>
or even of <code>Component</code>.
<p>
The API for using image icons falls into these categories:

<ul>
<li><a href=#contents>Setting, Getting, and Painting the Image Icon's Image</a>
<li><a href=#info>Setting or Getting Information about the Image Icon</a>
<li><a href=#loadstatus>Watching the Image Icon's Image Load</a>
</ul>

<table border=1>
<caption><a name=contents>Setting, Getting, and Painting the
          Image Icon's Image</a></caption>
<tr>
<th>Method or Constructor</th>
<th>Purpose</th>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon()">ImageIcon()</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(byte[])">ImageIcon(byte[])</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(byte[], java.lang.String)">ImageIcon(byte[], String)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.awt.Image)">ImageIcon(Image)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.awt.Image, java.lang.String)">ImageIcon(Image, String)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.lang.String)">ImageIcon(String)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.lang.String, java.lang.String)">ImageIcon(String, String)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.net.URL)">ImageIcon(URL)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#ImageIcon(java.net.URL, java.lang.String)">ImageIcon(URL, String)</a></td>

<td>Create an <code>ImageIcon</code> instance,
    initializing it to contain the specified image.
    The first argument indicates the source &#151;
    image, byte array, filename, or URL &#151;
    from which the image icon's image should be loaded.
    The source must be in a format supported
    by the <code>java.awt.Image</code> class: namely GIF, JPEG,
    or (as of 1.3) PNG.
    The second argument, when present,
    provides a description for the image.
    The description may also be set via <code>setDescription</code>
    and provides useful textual information for
    <a href=../misc/access.html>assistive technologies</a>.
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#setImage(java.awt.Image)">void setImage(Image)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getImage()">Image getImage()</a></td>
<td>Set or get the image displayed by the image icon.</td>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#paintIcon(java.awt.Component, java.awt.Graphics, int, int)">void paintIcon(Component, Graphics, int, int)</a></td>
<td>Paint the image icon's image in the specified graphics context.
    You would override this only if you're implementing a custom icon
    that performs its own painting.
    The <code>Component</code> object is used as an image observer.
    You can rely on the default behavior
    provided by <code>Component</code> class, and pass in any component.
    The two <code>int</code> arguments specify the top-left corner
    where the icon is painted.</td>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/java/lang/ClassLoader.html#getResource(java.lang.String)">URL getResource(String)</a>   <br>in (<em>java.lang.ClassLoader</em>)
</td>
<td>Find the resource with the given name.  For more information,
see <a href=#getresource>Loading Images Using getResource</a>.
</td>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/java/lang/ClassLoader.html#getResourceAsStream(java.lang.String)">InputStream getResourceAsStream(String)</a>   <br>in (<em>java.lang.ClassLoader</em>)
</td>
<td>Find the resource with the given name and return an input stream
for reading the resource. For more information, see the
<a href=#applet>Loading Images Into Applets</a> discussion.
</td>
</tr>

</table>

<p>
<table border=1>
<caption><a name=info>Setting or Getting Information about the Image Icon</a></caption>
<tr>
<th>Method</th>
<th>Purpose</th>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#setDescription(java.lang.String)">void setDescription(String)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getDescription()">String getDescription()</a></td>
<td>Set or get a description of the image.
    This description is intended for use by
    <a href=../misc/access.html>assistive technologies</a>.</td>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getIconWidth()">int getIconWidth()</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getIconHeight()">int getIconHeight()</a></td>
<td>Get the width or height of the image icon in pixels.</td>
</tr>

</table>
<p>
<table border=1>
<caption><a name=loadstatus>Watching the Image Icon's Image Load</a></caption>
<tr>
<th>Method</th>
<th>Purpose</th>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#setImageObserver(java.awt.image.ImageObserver)">void setImageObserver(ImageObserver)</a>    <br>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getImageObserver()">ImageObserver getImageObserver()</a></td>
<td>Set or get an image observer for the image icon.</td>
</tr>

<tr>
<td>
<a class="APILink" target="_blank" href="http://java.sun.com/javase/6/docs/api/javax/swing/ImageIcon.html#getImageLoadStatus()">int getImageLoadStatus()</a></td>
<td>Get the loading status of the image icon's image.
    The values returned by this method
    are defined by <code>MediaTracker</code>.</td>
</tr>
</table>

</blockquote>

<h3>
<a name=eg>Examples that Use Icons</a>
</h3>
<blockquote>
The following table lists
just a few of the many examples 
that use <code>ImageIcon</code>.
<p>
<table>
<tr>
<th align=left> Example</th>
<th align=left> Where Described</th>
<th align=left> Notes</th>
</tr>

<tr>
<td> <a href="../components/examples/index.html#LabelDemo"><code>LabelDemo</code></a></td>
<td> This section and<br>
     <a href="../components/label.html">How to Use Labels</a></td>
<td> Demonstrates using icons in an application's label,
     with and without accompanying text.</td>
</tr>

<tr>
<td> <a href="examples/index.html#IconDemoApplet">
     <code>IconDemoApplet</code></a></td>
<td> This section</td>
<td> An applet.  
     Uses a label to show large images;
     uses buttons that have both images and text.</td>
</tr>

<tr>
<td> <a href="examples/index.html#CustomIconDemo">
     <code>CustomIconDemo</code></a></td>
<td> This section</td>
<td> Uses a custom icon class implemented by
     
<a class="SourceLink" target="_blank" href="examples/ArrowIcon.java"><code>ArrowIcon.java</code></a>.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#TumbleItem">
     <code>TumbleItem</code></a></td>
<td> <a href="../components/applet.html">How to Make Applets</a></td>
<td> Uses image icons in an animation.
     Shows how to call <code>ImageIcon</code>'s <code>paintIcon</code> method.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#ButtonDemo"><code>ButtonDemo</code></a></td>
<td> <a href="../components/button.html">How to Use Buttons, Check Boxes, and Radio Buttons</a></td>
<td> Shows how to use icons in an application's buttons.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#CheckBoxDemo"><code>CheckBoxDemo</code></a></td>
<td> <a href="../components/button.html#checkbox">How to Use Check Boxes</a></td>
<td> Uses multiple GIF images.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#TabbedPaneDemo"><code>TabbedPaneDemo</code></a></td>
<td> <a href="../components/tabbedpane.html">How to Use Tabbed Panes</a></td>
<td> Demonstrates adding icons to tabs in a tabbed pane.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#DialogDemo"><code>DialogDemo</code></a></td>
<td> <a href="../components/dialog.html">How to Make Dialogs</a></td>
<td> Shows how to use standard icons in dialogs.</td>
</tr>

<tr>
<td> <a href="../components/examples/index.html#TreeIconDemo"><code>TreeIconDemo</code></a></td>
<td> <a href="../components/tree.html">How to Use Trees</a></td>
<td> Shows how to change the icons displayed by a tree's nodes.</td>
</tr>

<tr> 
<td> <a href="../misc/examples/index.html#ActionDemo"><code>ActionDemo</code></a></td>
<td> <a href="../misc/action.html">How to Use Actions</a></td>
<td> Shows how to specify the icon in a tool-bar button or menu item
     using an <code>Action</code>.</td>
</tr>

<tr> 
<td> <a href="../components/examples/index.html#FileChooserDemo2"><code>FileChooserDemo2</code></a></td>
<td> <a href="../components/filechooser.html">How to Use File Choosers</a></td>
<td> Uses a <code>PNG</code> image.  Shows how to implement an image previewer
     and an image filter in a file chooser.</td>
</tr>

</table>

</blockquote>

        </blockquote>
        <div class=NavBit>
            <a target=_top href=tree.html>&laquo; Previous</a>
            &bull;
            <a target=_top href=../TOC.html>Trail</a>
            &bull;
            <a target=_top href=border.html>Next &raquo;</a>
        </div>
    </div>
    <div id=Footer>
<div id=TagNotes>
    Problems with the examples? Try <a target="_blank"
        href=../../information/run-examples.html>Compiling and Running
        the Examples: FAQs</a>.
    <br>
    Complaints? Compliments? Suggestions? <a target="_blank"
        href="http://developer.sun.com/contact/tutorial_feedback.jsp">Give
    us your feedback</a>.
<br><br>
    <a target="_blank" href="../../information/copyright.html">Copyright</a>
    1995-2006 Sun Microsystems, Inc.  All rights reserved.
    <span id=Download>
</span></div> 

    </div>
    <div class=PrintHeaders>
        <b>Previous page:</b> How to Use Trees
        <br><b>Next page:</b> How to Use Borders
    </div>
    </body>
</html> 
