




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title>Laying Out Components Within a Container: Examples (1.1/1.2)</title>
<script language="JavaScript">
<!-- hide
function openWin(term) {
  url="../../../information/glossary.html#" + term;
  myWin= window.open(url, "Glossary",
              "width=400,height=150,scrollbars=yes,status=no,toolbar=no,menubar=no");
  myWin.focus();
}
//-->
</script>
<STYLE type="text/css">
<!--
.FigureCaption   { margin-left: 1in; margin-right: 1in; font-family: Arial, Helvetica, sans-serif; font-size: smaller; text-align: justify }
-->
</STYLE> 
</head>
<body BGCOLOR="#ffffff" LINK="#000099">
<B><FONT SIZE="-1">The Java</font><sup><font size="-2">TM</font></sup> <font size="-1">Tutorial</FONT></B>
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="middle">
<a href="../../misc/example-1dot4/index.html" target="_top"><img src="../../../images/PreviousArrow.gif" width="26" height="26" align="middle" border="0" alt="Previous Page"></a>
<a href="../../TOC.html#layout" target="_top"><img src="../../../images/TOCIcon.gif" width="26" height="26" align="middle" border="0" alt="Lesson Contents"></a>
<a href="../../layout/example-1dot4/index.html" target="_top"><img src="../../../images/NextArrow.gif" width="26" height="26" align="middle" border="0" alt="Next Page"></a></td>

<td align="center" valign="middle">
<font size="-1">
<a href="../../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../../index.html" target="_top">Start of Trail</a>
&gt;
<a href="../index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="middle">
<font size="-1">
<a href="../../../search.html" target="_top">Search</a>
<br><a href="http://developer.sun.com/contact/tutorial_feedback.jsp">Feedback Form</a>
</font>
</td>

</tr>
</table>
<img src="../../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" ALT="">
<br>

<font size="-1">
<b>Trail</b>: Creating a GUI with JFC/Swing
<br>
<b>Lesson</b>: Laying Out Components Within a Container
</font>

<h2>
Laying Out Components Within a Container: Examples (1.1/1.2)
</h2>
<blockquote>

The <a href="#table">table</a> that follows lists every 1.1/1.2 example in the Laying Out Components Within a Container lesson, with links to required files and to where each example is discussed.


<blockquote><hr><strong>Note:</strong>&nbsp;These examples use the Swing 1.1 API, which is supported by J2SE 1.2 and compatible releases, as well as JDK 1.1 + JFC/Swing 1.1.

To see more up-to-date
versions of these examples
that can be launched using Java<sup><font size=-2>TM</font></sup> Web Start,
see the
<a target="_top" href="../example-1dot4/index.html">list of 1.4 examples</a><a target="_top" href="../example-1dot4/index.html"><img src="../../../images/tutorialIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a>.

<br>
<br>
Examples 
can run either as an application or as an applet 
unless noted otherwise.
See 
<a target="_top" href="../../../uiswing/14start/index.html">Getting Started with Swing</a><a target="_top" href="../../../uiswing/14start/index.html"><img src="../../../images/tutorialIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in the Creating a GUI with JFC/Swing trail)"></a> for details about releases and 
 instructions on compiling and running programs.
<hr></blockquote>


<p>
You can get the source, image, and other files required
for all these examples 
by downloading the
<a target="_blank" href="http://java.sun.com/docs/books/tutorial/information/download.html#egs"><font color="#009bbb">Tutorial Examples bundle</font></a><a target="_blank" href="http://java.sun.com/docs/books/tutorial/information/download.html#egs"><img src="../../../images/otherIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (outside of the tutorial)"></a>, which contains the files in the correct hierarchy.
If you download an individual example,
take care to have all the necessary files 
in the proper hierarchy when you compile and run it.
For example, many examples
expect their image files
to be in a directory named <code>images</code>
that's in the same directory as the example's class files.

</blockquote>
<a name="table">
<table border="1">

<tr>
<td><strong>Source Files</td>
<td><strong>Image & Other Files</strong></td>
<td><strong>Where Described</td>
</tr>

<tr>
<td><a name="AlignmentDemo">
    
<a target="_blank" href="AlignmentDemo.java"><font color="#bb000f"><code>AlignmentDemo.java</code></font></a><a target="_blank" href="AlignmentDemo.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <em>(application only)</em>
    </a></td>
<td><a href="images/geek-cght.gif"><code>geek-cght.gif</code></a>
    <a href="images/middle.gif"><code>middle.gif</code></a></td>
<td><a href="../box.html">
    How to Use BoxLayout</a></td>
</tr>

<tr>
<td><a name="BorderWindow">
    
<a target="_blank" href="BorderWindow.java"><font color="#bb000f"><code>BorderWindow.java</code></font></a><a target="_blank" href="BorderWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td> &nbsp; </td>
<td><a href="../border.html">
    How to Use BorderLayout</a></td>
</tr>

<tr>
<td><a name="BoxLayoutDemo">
    
<a target="_blank" href="BoxLayoutDemo.java"><font color="#bb000f"><code>BoxLayoutDemo.java</code></font></a><a target="_blank" href="BoxLayoutDemo.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <em>(application only)</em>
    <br>&nbsp;&nbsp;
<a target="_blank" href="BLDComponent.java"><font color="#bb000f"><code>BLDComponent.java</code></font></a><a target="_blank" href="BLDComponent.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td> &nbsp;</td>
<td><a href="../box.html">
    How to Use BoxLayout</a></td>
</tr>

<tr>
<td><a name="BoxWindow">
    
<a target="_blank" href="BoxWindow.java"><font color="#bb000f"><code>BoxWindow.java</code></font></a><a target="_blank" href="BoxWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td> &nbsp; </td>
<td><a href="../box.html">
    How to Use BoxLayout</a></td>
</tr>

<tr>
<td><a name="CardWindow">
    
<a target="_blank" href="CardWindow.java"><font color="#bb000f"><code>CardWindow.java</code></font></a><a target="_blank" href="CardWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td> &nbsp; </td>
<td><a href="../card.html">
    How to Use CardLayout</a></td>
</tr>

<tr>
<td><a name="CustomWindow">
    
<a target="_blank" href="CustomWindow.java"><font color="#bb000f"><code>CustomWindow.java</code></font></a><a target="_blank" href="CustomWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="DiagonalLayout.java"><font color="#bb000f"><code>DiagonalLayout.java</code></font></a><a target="_blank" href="DiagonalLayout.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../custom.html">
    How to Use CustomLayout</a></td>
</tr>

<tr>
<td><a name="FlowWindow">
    
<a target="_blank" href="FlowWindow.java"><font color="#bb000f"><code>FlowWindow.java</code></font></a><a target="_blank" href="FlowWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../flow.html">
    How to Use FlowLayout</a></td>
</tr>

<tr>
<td><a name="GridBagWindow">
    
<a target="_blank" href="GridBagWindow.java"><font color="#bb000f"><code>GridBagWindow.java</code></font></a><a target="_blank" href="GridBagWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../gridbag.html">
    How to Use GridBagLayout</a></td>
</tr>

<tr>
<td><a name="GridWindow">
    
<a target="_blank" href="GridWindow.java"><font color="#bb000f"><code>GridWindow.java</code></font></a><a target="_blank" href="GridWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../grid.html">
    How to Use GridLayout</a></td>
</tr>

<tr>
<td><a name="NoneWindow">
    
<a target="_blank" href="NoneWindow.java"><font color="#bb000f"><code>NoneWindow.java</code></font></a><a target="_blank" href="NoneWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../none.html">
    Doing Without a Layout Manager (Absolute Positioning)</a></td>
</tr>

<tr>
<td><a name="TabWindow">
    
<a target="_blank" href="TabWindow.java"><font color="#bb000f"><code>TabWindow.java</code></font></a><a target="_blank" href="TabWindow.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    <br>&nbsp;&nbsp;
<a target="_blank" href="AppletButton.java"><font color="#bb000f"><code>AppletButton.java</code></font></a><a target="_blank" href="AppletButton.java"><img src="../../../images/sourceIcon.gif" width=11 height=11 border=0 align="MIDDLE" alt=" (in a .java source file)"></a>
    </a></td>
<td>&nbsp;</td>
<td><a href="../card.html">
    How to Use CardLayout</a></td>
</tr>

</table>
</a>

</blockquote>

<img src="../../../images/blueline.gif" width="550" height="8" ALIGN="BOTTOM" ALT="">
<br>
<table width="550" summary="layout">
<tr>
<td align="left" valign="middle">
<a href="../../misc/example-1dot4/index.html" target="_top"><img src="../../../images/PreviousArrow.gif" width="26" height="26" align="middle" border="0" alt="Previous Page"></a>
<a href="../../TOC.html#layout" target="_top"><img src="../../../images/TOCIcon.gif" width="26" height="26" align="middle" border="0" alt="Lesson Contents"></a>
<a href="../../layout/example-1dot4/index.html" target="_top"><img src="../../../images/NextArrow.gif" width="26" height="26" align="middle" border="0" alt="Next Page"></a></td>

<td align="center" valign="middle">
<font size="-1">
<a href="../../../index.html" target="_top">Start of Tutorial</a>
&gt;
<a href="../../index.html" target="_top">Start of Trail</a>
&gt;
<a href="../index.html" target="_top">Start of Lesson</a>
</font>
</td>

<td align="right" valign="middle">
<font size="-1">
<a href="../../../search.html" target="_top">Search</a>
<br><a href="http://developer.sun.com/contact/tutorial_feedback.jsp">Feedback Form</a>
</font>
</td>

</tr>
</table>
<p>
<font size="-1">
<a href="../../../information/copyright.html">Copyright</a>
1995-2005 Sun Microsystems, Inc.  All rights reserved.
</font>
</p>
</body>
</html>
